<?xml version="1.0" encoding="UTF-8"?>


<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
version="3.1">
<servlet>
<servlet-name>inserData</servlet-name>
<servlet-class>tt.model.InsertDataServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>inserData</servlet-name>
<url-pattern>/insert</url-pattern>
</servlet-mapping>

 <servlet>
    <servlet-name>UpdateTimeTable</servlet-name>
    <servlet-class> tt.model.UpdateServlet </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTimeTable</servlet-name>
    <url-pattern> /update </url-pattern>
  </servlet-mapping>
  
</web-app>